@import "tailwindcss";

@theme {
  --color-brand: #2b8cee;
  --color-background-subtle: #f6f7f8;
  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-border-subtle: #cbd5e1;
}